<%- include('../partials/head/head.ejs') %>
    <style>
        body {
            background: #030005;
        }
        ::-webkit-scrollbar {
            display: none;
        }
    </style>

    <body>
        <%- include('../partials/navbar/navbar.ejs') %>
            <div id="notfound" style="margin-top: 10px">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>404</h1>
                        <h2>Page not found</h2>
                    </div>
                </div>
            </div>
            <%- include('../partials/footer/footer.ejs') %>