<%- include('../partials/head/head.ejs') %>

    <body>
        <%- include('../partials/navbar/navbar.ejs') %>
            <div class="container main-container" style="margin-top: 100px;">
                <div class="h-100 p-5 bg-light border rounded-3 animated fadeIn">
                    <div class="container">
                        <h1 class="animated fadeIn fast">Sobre Comic App</h1>
                        <hr>
                        <p class="animated fadeIn">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusantium in, magni
                            omnis praesentium mollitia voluptatum quibusdam! Earum voluptate nihil, aliquam nulla labore
                            veniam quasi dignissimos recusandae impedit voluptas nostrum.
                        </p>
                    </div>
                </div>
            </div>
            <%- include('../partials/footer/footer.ejs') %>